body{
    background-color: #999;
}
header{
    background-color: white;
    display: flex;
    text-transform: uppercase;
    /* margin-top: 60px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
    /* box-sizing: border-box; */
    box-sizing: border-box;
    flex-wrap:wrap;
}
div{
    background-color: rgb(33, 167, 84);
    border-right: 1px solid #000;
    padding: 3% 3% 2% 1%;
    border-radius: 10px;
    margin: 10px;
}
div img{
    width: 200px;
    height: 200px;
}
div h1{
    letter-spacing: 2px;
}
div ul li{
    list-style: none;
    /* border-bottom: 1px solid #9dd1ff; */
    line-height: 1.5;
    /* padding: 3%  ; */
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}
div ul li:last-child{
     border-bottom: 1px solid #e1f1ff; 
}
div span{
    display: block;
    font-size: 30px;
    margin: 10%;
}
/* div a{
    border: 1px solid #9dd1ff;
    color: #92138c;
    border-radius: 10px;
    padding: 15px 35px;
    background: #999;
    text-decoration: none;
} */
div button{
    background: #1385a1;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    transition: background 1s, box-shadow 0.5s,transform 0.25s;
}
div button:first-letter{
    text-transform: uppercase;
}
div button:hover{
    background-color: #269aff;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}
@media (min-width: 800px){
    header {
        flex-direction: row;
    }

}
